# Redis settings
redis_host=__CHANGEME__
redis_port=__CHANGEME__

# Elasticsearch settings
es_host=__CHANGEME__
es_port=__CHANGEME__

movies_index_name=__CHANGEME__
persons_index_name=__CHANGEME__
movies_index_file=__CHANGEME__
persons_index_file=__CHANGEME__

service_url=__CHANGEME__
